<p>Oi, <%= @resource.profile_member.full_name %>!</p>

<p>Gostaria de mudar seu email? Clique aqui:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se voce nao fez essa requisicao, apenas desconsire esse email</p>
<p>Sua senha nao sera alterada ate voce acessar o link acima e criar um novo.</p>
